body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.navbar {
  background-color: #000C14;
  position: relative;
  padding-top: 40px;
}

.navlink1 {
  position: absolute;
  right: 100px;
  top: 0;
}

.navlink2 {
  position: absolute;
  right: 20px;
  top: 0;
}

.navlink1:hover, .navlink2:hover {
  color: #1CFDC3;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  width:400px;
}

h1:hover {
  color: #1CFDC3;
  cursor: default;
}

.webdeveloper {
  font-weight: normal;
  line-height: 2;
  width:400px;
  margin:auto;
}

.webdeveloper:hover {
  color: #1CFDC3;
  cursor: default;
}

hr {
  border-top: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.web {
  text-decoration: underline;
}

.top-container {
  background-color: #000C14;
  position: relative;
  padding-top: 20px;
}

.me {
  width: 10%;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #11999E;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6
}

p {
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.web-design {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.quality {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.desc {
  margin: 40px auto 60px;
}

.contact {
  margin-bottom: 50px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  line-height: 4;
  padding: 20px 0;
}
